<template>
  <div class="hello">
    <div class="buttons">
      <button type="button" class="btn" v-on:click="stream('binance')">
        Toggle Binance Aggregation Stream
      </button>
      <button type="button" class="btn" v-on:click="stream('huobi')">
        Toggle Huobi Aggregation Stream
      </button>
      <button type="button" class="btn" v-on:click="stream('kraken')">
        Toggle Kraken Aggregation Stream
      </button>
    </div>
    <div v-for="val in responses" :key="val.id" class="small">
      {{ val }}
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VueNativeSock from 'vue-native-websocket'
console.log(process.env.VUE_APP_WS_API_URL)

Vue.use(VueNativeSock, process.env.VUE_APP_WS_API_URL, { format: 'json' })

export default {
  data () {
    return {
      kraken: false,
      huobi: false,
      binance: false,
      responses: []
    }
  },
  created () {
    this.$socket.onmessage = (msg) => {
      this.responses.push(msg.data)
    }
  },
  methods: {
    stream (exchangePlatform) {
      let shouldStart = this[exchangePlatform] ? 'stop' : 'start'
      this[exchangePlatform] = !this[exchangePlatform]
      this.$http
        .post('/aggregate', { exchangePlatform, taskType: shouldStart })
        .then(() => {
          console.log(`stream ${shouldStart} ${exchangePlatform}`)
        })
        .catch((err) => console.log(err))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.small {
  font-size: 8px;
}
</style>
